@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');



body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    
}

.container{
    max-width: 960px;
    margin: 0 auto;
    
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 15px;
    margin: 1.5rem;
    overflow: hidden;
}

.box {
    padding: 40px;
}
.box h1{
    font-family: Big Shoulders Display, sans-serif;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 10px;
}
.box p{
    font-family: Lexend Deca, sans-serif;
    color: hsl(0, 0%, 95%);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
}

.box a{
    display: inline-block;
    font-family: Lexend Deca, sans-serif;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    margin-top: 80px;
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 25px;
}
.box a:hover{
    color: hsl(0, 0%, 95%);
    background: transparent;
}

.box_1 a{
    color: hsl(31, 77%, 52%);
}

.box_2 a{
    color: hsl(184, 100%, 22%);
}
.box_3 a{
    color: hsl(179, 100%, 13%);
}

.box_1{
    background-color: hsl(31, 77%, 52%);
   
}
.box_2{
    background-color: hsl(184, 100%, 22%);
    
}

.box_3{
    background-color: hsl(179, 100%, 13%);
}   

@media(max-width:860px){
    .card{
        grid-template-columns: 1fr;
    }

}

@media(max-width:425px){
    .card{
        margin: 1rem 0.5re;
    }
}